{% extends 'base.html' %}

{% block head_title %}Confirm password reset{% endblock %}
{% block page_title %}Confirm password reset{% endblock %}

{% block main %}
	<form method="POST">
		{{ form.non_field_errors }}
		<div>
			<label for="id_new_password1">New password:</label><br />
			{{ form.new_password1 }}
			{{ form.new_password1.errors }}
		</div>
		<div>
			<label for="id_new_password2">New password confirmation:</label><br />
			{{ form.new_password2 }}
			{{ form.new_password2.errors }}
		</div>
		<div>
			<input type="submit" value="Set password" />
		</div>
		{% csrf_token %}
	</form>
{% endblock %}
