{% extends 'base.html' %}

{% block head_title %}Register for an account{% endblock %}
{% block page_title %}Register for an account{% endblock %}

{% block main %}
	<form method="POST">
		{{ form.non_field_errors }}
		<div>
			<label for="email">Email:</label><br />
			{{ form.email }}
			{{ form.email.errors }}
		</div>
		<div>
			<label for="username">Username:</label><br />
			{{ form.username }}
			{{ form.username.errors }}
		</div>
		<div>
		<div>
			<label for="password1">Password:</label><br />
			{{ form.password1 }}
			{{ form.password1.errors }}
		</div>
		<div>
			<label for="password2">Re-enter Password:</label><br />
			{{ form.password2 }}
			{{ form.password1.errors }}
		</div>
		<div>
			<input type="submit" value="Register" />
		</div>
		{% csrf_token %}
	</form>
{% endblock %}
