{% extends 'base_authenticated.html' %}

{% block head_title %}
	{% if book_id %} Update Book {% else %} Create Book {% endif %}
{% endblock %}

{% block page_title %}
	{% if book_id %} Update Book {% else %} Create Book {% endif %}
{% endblock %}

{% block main %}
	<form method="POST" enctype="multipart/form-data">
		{{ form.non_field_errors }}
		<div>
			<label for="id_title">Title:</label><br />
			{{ form.title.errors }}
			{{ form.title }}
		</div>
		<div>
			<label for="id_author">Author:</label><br />
			{{ form.author.errors }}
			{{ form.author }}
		</div>
		<div>
			<label for="id_isbn">ISBN:</label><br />
			{{ form.isbn.errors }}
			{{ form.isbn }}
		</div>
		<div>
			<label for="id_file_upload">File:</label><br />
			{{ form.file_upload.errors }}
			{{ form.file_upload }}
		</div>
		<div>
			Categories:
			{% for category in categories %}
				<input type="checkbox" name="category_{{ category.id }}" id="category_{{ category.id }}" {% if category.id in book_categories %}checked{% endif %} />
				<label for="category_{{ category.id }}">{{ category.name }}</label>
			{% endfor %}
		</div>
		{% if book_id %}
			{{ form.book_id }}
		{% endif %}
		<input type="submit" value="Save" />
		{% csrf_token %}
	</form>
{% endblock %}
