{% extends 'base_authenticated.html' %}

{% block head_title %}Issue Vol. {{ issue.issued_at|date:"j M Y" }}{% endblock %}
{% block page_title %}Issue Vol. {{ issue.issued_at|date:"j M Y" }}{% endblock %}

{% block content %}
	<p>Title: {{ issue.periodical.title }}</p>
	<p>
		Status:
		{{ issue.get_status_display }}
		{% if issue.status == 2 %}
			until {{ issue.pending_until|date:"d F Y h:i A" }}
		{% endif %}
	</p>
	<p>File: <a href="{{ issue.file_path }}">download</a></p>

	<div class="toc">
		{% for topic in issue.topic_of_contents %}
			<div class="item">
				page: {{ topic.page }}
				title: {{ topic.title }}
				author: {{ topic.author }}
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block navigation %}
	<ul>
		<li><a href="{% url publication-update-issue issue.periodical.publisher.id issue.periodical.id issue.id %}">Edit</a></li>
		<li><a href="{% url publication-manage-issue-toc issue.periodical.publisher.id issue.periodical.id issue.id %}">Update Table of Contents</a></li>
		<li><a href="{% url publication-update-issue-status issue.periodical.publisher.id issue.periodical.id issue.id %}">Change Status</a></li>
	</ul>
{% endblock %}
