{% extends 'base_authenticated.html' %}

{% block head_title %}
	{% if issue %}
		Update Issue Vol. {{ issue.issued_at|date:"j M Y" }}
	{% else %}
		Create Issue of {{ periodical.title }}
	{% endif %}
{% endblock %}

{% block page_title %}
	{% if issue %}
		Update Issue Vol. {{ issue.issued_at|date:"j M Y" }}
	{% else %}
		Create Issue of {{ periodical.title }}
	{% endif %}
{% endblock %}

{% block meta %}
	<div>
		{% if issue %}
			{{ issue.periodical.publisher.name }}
		{% else %}
			{{ periodical.publisher.name }}
		{% endif %}
	</div>
{% endblock %}

{% block content %}
	<form method="POST" enctype="multipart/form-data">
		{{ form.non_field_errors }}
		<div>
			<label for="id_title">Issued at:</label><br />
			{{ form.issued_at.errors }}
			{{ form.issued_at }}
		</div>
		<div>
			<label for="id_title">Description:</label><br />
			{{ form.description }}
		</div>
		<div>
			<label for="id_file_upload">File:</label><br />
			{{ form.file_upload.errors }}
			{{ form.file_upload }}
		</div>
		{% if issue %}
			{{ form.issue_id }}
		{% endif %}
		<input type="submit" value="Save" />
		{% csrf_token %}
	</form>
{% endblock %}
