{% extends 'base_authenticated.html' %}

{% block head_title %}Magazine: {{ periodical.title }}{% endblock %}
{% block page_title %}Magazine: {{ periodical.title }}{% endblock %}

{% block content %}
	{% for issue in periodical.issues %}
		<div class="issue">
			{{ issue.issued_at }}	
			<a href="{% url publication-update-issue periodical.publisher.id periodical.id issue.id %}">Edit Issue</a>
		</div>
	{% endfor %}

	<div class="categories">
		Categories:
		{% for category in periodical.categories.all %}
			{{ category.name }}
		{% endfor %}
	</div>
{% endblock %}

{% block navigation %}
	<ul>
		<li><a href="{% url publication-update-periodical periodical.publisher.id periodical.id %}">Edit Magazine</a></li>
		<li><a href="{% url publication-create-issue periodical.publisher.id periodical.id %}">Upload New Issue</a></li>
	</ul>
{% endblock %}
