{% extends 'base_authenticated.html' %}

{% block head_title %}Magazines{% endblock %}
{% block page_title %}Magazines{% endblock %}

{% block meta %}
	<div>
		{{ publisher.name }}
	</div>
{% endblock %}

{% block content %}
	{% for periodical in publisher.periodical_set.all %}
		<div class="periodical">
			<div>{{ periodical.title }}</div>
			<ul>
				<li class="issue">
					<a href="{% url publication-create-issue publisher.id periodical.id %}">Upload New Issue</a>
				</li>
			{% for issue in periodical.issue_set.all %}
				<li class="issue">
					<a href="{% url publication-show-issue publisher.id periodical.id issue.id %}">Vol. {{ issue.issued_at|date:"j M Y" }}</a>
					{{ issue.get_status_display }}
					{% if issue.status == 2 %}
						until {{ issue.pending_until|date:"d F Y h:i A" }}
					{% endif %}
				</li>
			{% endfor %}
			</ul>
			<a href="{% url publication-show-periodical publisher.id periodical.id %}">View All Issues</a>
		</div>
	{% endfor %}
{% endblock %}

{% block navigation %}
	<ul>
		<li><a href="{% url publication-create-periodical publisher.id %}">Create New Magazine</a></li>
	</ul>
{% endblock %}
