{% extends 'base_authenticated.html' %}

{% block head_title %}
	{% if periodical_id %} Update Periodical {% else %} Create Periodical {% endif %}
{% endblock %}

{% block page_title %}
	{% if periodical_id %} Update Periodical {% else %} Create Periodical {% endif %}
{% endblock %}

{% block main %}
	<form method="POST">
		{{ form.non_field_errors }}
		<div>
			<label for="id_title">Title:</label><br />
			{{ form.title.errors }}
			{{ form.title }}
		</div>
		<div>
			<label for="id_title">Description:</label><br />
			{{ form.description }}
		</div>
		<div>
			Categories:
			{% for category in categories %}
				<input type="checkbox" name="category_{{ category.id }}" id="category_{{ category.id }}" {% if category.id in periodical_categories %}checked{% endif %} />
				<label for="category_{{ category.id }}">{{ category.name }}</label>
			{% endfor %}
		</div>
		<input type="submit" value="Save" />
		{% csrf_token %}
	</form>
{% endblock %}
