{% extends 'base.html' %}

{% block head_title %}{% endblock %}

{% block page_title %}{% endblock %}

{% block section %}
	{% block meta %}{% endblock %}
	{% block tabs %}
		{% if publisher %}
			<ul>
				<li><a href="{% url publication-publisher-dashboard publisher.id %}">Dashboard</a></li>
				<li><a href="{% url publication-index-periodical publisher.id %}">Magazines</a></li>
				<li><a href="{% url publication-index-book publisher.id %}">Books</a></li>
				<li><a href="{% url publication-update-publisher publisher.id %}">Manage Publisher</a></li>
			</ul>
		{% endif %}
	{% endblock %}
{% endblock %}

{% block main %}
	<div class="navigation">
		{% block navigation %}{% endblock %}
	</div>
	<div class="content">
		{% block content %}{% endblock %}
	</div>
{% endblock %}

{% block import %}{% endblock %}

{% block js_base %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ajax-csrf.js"></script>
	<script type="text/javascript">
		var l = function(str) {
			console.log(str);	
		};
	</script>
{% endblock %}

{% block js %}{% endblock %}
