{% extends 'base.html' %}

{% block head_title %}{% endblock %}

{% block page_title %}{% endblock %}

{% block section %}
	{% block meta %}{% endblock %}
	{% block tabs %}
		<ul>
			<li><a href="{% url publication-publisher-dashboard 1 %}">Dashboard</a></li>
			<li><a href="{% url publication-index-periodical 1 %}">Magazines</a></li>
			<li><a href="{% url publication-index-book 1 %}">Books</a></li>
			<li><a href="{% url publication-manage-publisher 1 %}">Manage Publisher</a></li>
		</ul>
	{% endblock %}
{% endblock %}

{% block main %}
	<div class="navigation">
		{% block navigation %}{% endblock %}
	</div>
	<div class="content">
		{% block content %}{% endblock %}
	</div>
{% endblock %}

{% block import %}{% endblock %}

{% block js_base %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ajax-csrf.js"></script>
	<script type="text/javascript">
		var l = function(str) {
			console.log(str);	
		}
	</script>
{% endblock %}

{% block js %}{% endblock %}
